.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1.5em;
}
.list{
    list-style: none;
    display: flex;
    align-items: center;
}
.item{
    margin-right: 1em;
}
.item a{
    color: white;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    text-decoration: none;
}
.item a:hover{
    color: #Ffbb33;
}